* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #c1b5ad;
}

#navbar{
width: 100vw;
height: 5vh;
background-color: #c0ffee;
}

#map-wrapper{
display: flex;
flex-direction: row;
height: 100%;
}

#map {
  flex: 3;
}

#ui{
  display: flex;
  flex-direction: column;
  flex: 1;
}

#marker-selector{
  flex: 1;
  background-color: #bada55;
}

#itinerary{
  flex: 1;
  background-color: cornflowerblue;
}
